body {
	background-image: url(img/BG.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

div {
	background-color: white;
	opacity: 0.8;
	margin-top: 30px;
	margin-bottom: 30px;
}

#p, #warning {
  width: 503px;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 9px 6px;
}

#table{
  margin-top: 10px;
}


#in {
  margin-top: 1px;
  width: 503px;
}